/* https://colorhunt.co/palette/19183b708993a1c2bde7f2ef */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --body-color: #708993;
    --header-color: #E7F2EF;

    --aside-color: #8DA3AC;


    --hover-color: #000000; 
    --text-color: #F5F5F5;
  
    --text-fonte-1: 'Open Sans', sans-serif;

}


/* v2.0 | 20110126
   License: none (public domain)
   Author: Eric Meyer - meyerweb.com
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;       /* Remove margens padrão */
	padding: 0;      /* Remove espaçamentos padrão */
	border: 0;       /* Remove bordas padrão */
	font-size: 16px; /* Uniformiza tamanho base  100*/
	font: inherit;   /* Herda tipografia definida no body */
	vertical-align: baseline; /* Normaliza alinhamento inline */
}

/* Elementos HTML5 – garantir display block em navegadores antigos */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    background: var(--body-color);

    min-height: 100vh;   /* ← ESSENCIAL */
    width: 100vw;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}


ol, ul {
	list-style: none; /* Remove marcadores de listas */
}

blockquote, q {
	quotes: none;     /* Remove estilo de aspas */
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';      /* Neutraliza pseudo-elementos de citação */
	content: none;
}

table {
	border-collapse: collapse; /* Tabelas sem espaçamento */
	border-spacing: 0;
}
/* Fim do reset de Eric Meyer============================================================================================================================= */

/* Header
============================================================================================================================= */
.header,.header-nav,.header-nav-links,.header-nav-profissional,.header-nav-profissional-idioma, .main ol  {
  display:flex;
  height: fit-content;
}

.header{
  align-items: center;
  height: 10vh;
  width: 100%;
  z-index: 3;
  background-color: var(--header-color);
  position: fixed;
}

.header-nav {
  justify-content: space-between;
  width: 100%;
  max-height: 9vh;
  margin: 0% 0.5%;
  font-size: clamp(0.7rem, 1.1vw, 1.1rem); /* 0.9vw */
  font-family: var(--text-fonte-1);
}

.header-nav-imagem{
  height: 4em;
  border-radius: 50%;
  border: 2px solid var(--body-color);
  margin-left: 2rem;
}

.header-nav a{
  cursor: pointer;
  color: var(--body-color);
  text-decoration: none;
}



.header-nav a:hover,.header-nav a:hover, .header-nav-links:hover{
  color: var(--hover-color);
  fill: var(--hover-color);
}
/*
#link-visited {
  fill: var(--visited-color);
} */

.header-nav-links{
  white-space: nowrap;
  margin: 1%;
  gap: 2.5em;
  text-align: center;
}

.header-svg{
  margin-top: 5px;
  height: 1.2em;
}

.header-github-svg{
  height: 2.3em;
}

.header-linkedin-svg{
  height: 2.8em;
}



.header-nav-profissional{
  margin-right: 2%;
  margin-top: 1%;
  gap: 2em;
}


.header-nav-profissional select {
  height: 45%;
  width: 80%;
  margin-top: 6px;
  border: 2px solid var(--body-color);
  font-family: var(--text-fonte-1);
  font-size: 0.65em;
  cursor: pointer;
}

.header-nav-profissional-idioma {
  margin-top: 2%;;
}

/* ============================================================================================================================= */
/* ============================================================================================================================= */

@media (max-width: 685px) {
  .header-nav-imagem {
    height: 2em;
    border-radius: 50%;
    /* border: 2px solid var(--body-color); */
    margin-left: 1rem;
}

.header-nav-links {
    white-space: unset;
    margin: 1%;
    gap: 1em;
    text-align: center;
}


 .header-nav {
    justify-content: start;
  }

.header-github-svg {
    height: 0em;
}

.header-linkedin-svg {
    height: 0em;
}

.header-nav-profissional select {
   min-width: 3rem;


}

}

/* ============================================================================================================================= */

@media (max-width: 444px) {


  .header-nav-imagem {
    height: 0em;
    width: 0em;
    border: 0px;
  }

  .header-nav-profissional {
    gap: 0.1em;
  }

}