

/* https://colorhunt.co/palette/19183b708993a1c2bde7f2ef */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

    --aside-color: #8DA3AC;
    --container-color: #7f969c; 
 
  


    --hover-color: #000000; 

    --text-color: #ffffff;
    --h2-color: #2B2B2B;
  
    --text-fonte-1: 'Open Sans', sans-serif;
    --text-fonte-2: 'Merriweather', serif;

}



/* Main Page
=========================================================================================================================================*/




.sobremim-titulo {
  font-family: var(--text-fonte-2);
  font-size: clamp(1.8rem, 4vw, 3rem);        /* font-size: 1.6vw; */
  font-weight: 700;
  margin-bottom:  3%;
  color: var(--text-color);
}


.sobremim-foto {
    width: clamp(8rem, 20vw, 15rem);        /* width: 10vw; */
    height: clamp(8rem, 20vw, 15rem);       /* height: 10vw; */
    border-radius: 50%;
    border: 4px solid var(--aside-color);
    margin-bottom: 3%;
    object-fit: cover;
}

.sobremim-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4%;
  }


.sobremim-conteudo p {
  font-size: clamp(1rem, 1.2vw, 1.15rem);     /* font-size: 0.95vw; */
  color: var(--text-color);
  font-family: var(--text-fonte-2);
  text-wrap: wrap;
  width: 45%;
  text-align: justify;
  line-height: 1.3em;
  margin-bottom: 1%;
  margin-top: 1%;
}

.sobremim-conteudo p mark {
  background-color:var(--hover-color);
  color: var(--text-color);
}


.sobremim-conteudo-gif{
    width: 30%;      
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;

}

/* ============================================================================================================================= */
/* ============================================================================================================================= */


@media (max-width: 685px) {
    .sobremim-conteudo p {
    line-height: 1.2em;
    width: 75%
  }
}